<link rel="stylesheet" href="/app.css">

<p>We have total <strong>
        <%=data%>
    </strong> users</p>
<h1>
    <%=2 * 90%>
</h1>
<form method="POST" action="/register">
    <input type="text" name="email" class="form" placeholder="Enter your email address">
    <button>Join Now</button>
</form>